<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
</head>
<body>
    

<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary py-3">Contáctanos</h1>
                        <p class="mb-4">No dudes en contactarnos, estamos aquí para ayudarte y esperamos poder resolver cualquier duda que tengas. 
                            Tu opinión es importante para nosotros y apreciamos tu interés en contactarnos. ¡Esperamos saber de ti pronto!</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <h3>Nuestro equipo</h3>
                        <p>Nuestro equipo está formado por profesionales apasionados y comprometidos que trabajan juntos para ofrecerte la mejor experiencia posible. Con una amplia experiencia en diferentes áreas, desde atención al cliente hasta desarrollo de productos, estamos aquí para satisfacer tus necesidades y superar tus expectativas. Nos esforzamos por brindarte un servicio excepcional y productos de alta calidad. Además, valoramos la transparencia y la comunicación abierta, por lo que siempre estamos aquí para escucharte y responder a tus preguntas. ¡Confía en nosotros para ser tu socio de confianza en todo momento!</p>
                    </div>

                    <div class="col-8">
                        <img src="assets/imagenes/ventajas.webp" width="100px" height="100px" class="img-fluid w-100" alt="">
                    </div>
                </div>

                <div class="col-lg-7">
                    <form action="" class="">
                        <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Tu nombre">
                        <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Tu correo electrónico">
                        <textarea class="w-100 form-control border-0 mb-4" rows="5" cols="10" placeholder="Tu mensaje"></textarea>
                        <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Enviar</button>
                    </form>
                </div>
                <div class="col-lg-5">
                    <div class="d-flex p-4 rounded mb-4 bg-white">
                        <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                        <div>
                            <h4>Dirección</h4>
                            <p class="mb-2">C. Pintor Benedito, Valencia</p>
                        </div>
                    </div>
                    <div class="d-flex p-4 rounded mb-4 bg-white">
                        <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                        <div>
                            <h4>Correo electrónico</h4>
                            <p class="mb-2">veats&#64;gmail.com</p>
                        </div>
                    </div>
                    <div class="d-flex p-4 rounded bg-white">
                        <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                        <div>
                            <h4>Teléfono</h4>
                            <p class="mb-2">(+34) 963 899 640</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

  

         <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

</body>
</html>

<app-footer></app-footer>