
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"> 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 


<link href="/veats/src/bootstrap.min.css" rel="stylesheet">

<link href="/veats/src/styles.css" rel="stylesheet">

<link href="/veats/src/lightbox.min.css" rel="stylesheet">
<link href="/veats/src/owl.carousel.min.css" rel="stylesheet">

<footer class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-2">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0" href="#" routerLink="/home" routerLinkActive="active">VEATS</h1>
                        <p class="text-secondary mb-0" href="#">Productos frescos</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Tu correo electrónico">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Suscríbete</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.facebook.com/home"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Por qué elegirnos</h4>
                    <p class="mb-4">Con un compromiso constante hacia el cliente y la calidad del producto.
                        Ofreciendo así una excelente calidad en comparación con el resto de la competencia a nivel nacional. <br> Tu tienda de confianza desde 1990.</p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Información</h4>
                    <a class="btn-link" href="#" routerLink="/home" routerLinkActive="active">Sobre nosotros</a>
                    <a class="btn-link" href="#" routerLink="/contacto" routerLinkActive="active">Contáctanos</a>
                    <a class="btn-link" href="https://policies.google.com/privacy">Política de Privacidad</a>
                    <a class="btn-link" href="https://policies.google.com/terms">Términos y Condiciones</a>
                    <a class="btn-link" href="https://support.google.com/store/answer/13806656">Política de Devolución</a>
                    <a class="btn-link" href="https://policies.google.com/faq?hl">FAQs y Ayuda</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Cuenta</h4>
                    <a class="btn-link" href="#" routerLink="/login" routerLinkActive="active">Mi cuenta</a>
                    <a class="btn-link" href="#" routerLink="/pago" routerLinkActive="active">Detalles de compra</a>
                    <a class="btn-link" href="#" routerLink="/carrito" routerLinkActive="active">Carrito</a>
                    <a class="btn-link" >Lista de favoritos</a>
                    <a class="btn-link" >Historial de pedidos</a>
                    <a class="btn-link" href="https://support.google.com/store/answer/12436460">Pedidos Internacionales</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contacto</h4>
                    <p>Dirección: C. Pintor Benedito, Valencia 46007</p>
                    <p>Correo: veats&#64;gmail.com</p>
                    <p>Número: +34 963 899 640</p>
                    <p>Métodos de pago aceptados</p>
                    <img src="assets/imagenes/payment.png" width="300px" height="10px" class="img-fluid" alt="">
                    
                </div>
            </div>
        </div>
    </div>
<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>VEATS</a> Todos los derechos reservados.</span>
            </div>
            
        </div>
    </div>
</div>
<!-- Copyright End -->

</footer>
<router-outlet></router-outlet>