<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

    <link href="/veats/src/bootstrap.min.css" rel="stylesheet">

    <link href="/veats/src/styles.css" rel="stylesheet">

    <link href="/veats/src/lightbox.min.css" rel="stylesheet">
    <link href="/veats/src/owl.carousel.min.css" rel="stylesheet">
</head>

<body>
    

        <!-- 404 Start -->
        <div class="container-fluid py-15">
            <div class="container py-5 text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <i class="bi bi-exclamation-triangle display-1 text-secondary"></i>
                        <h1 class="display-1">404</h1>
                        <h1 class="mb-4">Página no encontrada</h1>
                        <p class="mb-4">Lo sentimos, la página que estás intentando buscar no está disponible! ¿Podrías ir a la página principal o buscar otro sitio?"</p>
                        <a class="btn border-secondary rounded-pill py-3 px-5" href="#" routerLink="/home" routerLinkActive="active">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 404 End -->

        <p></p>

</body>
</html>