<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Inicia Sesión</h3>
                        <p>Completa los siguientes campos</p>
                        <form class="requires-validation" novalidate>

                            <div class="col-md-12">
                               <input class="form-control" type="text" name="name" placeholder="Nombre completo" required>
                               <div class="valid-feedback">Nombre válido.</div>
                               <div class="invalid-feedback">Este campo no puede estar vacío.</div>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="email" name="email" placeholder="Correo electrónico" required>
                                 <div class="valid-feedback">Correo válido.</div>
                                 <div class="invalid-feedback">Este campo no puede estar vacío.</div>
                            </div>


                           <div class="col-md-12">
                              <input class="form-control" type="password" name="password" placeholder="Contraseña" required>
                               <div class="valid-feedback">Contraseña válida.</div>
                               <div class="invalid-feedback">Este campo no puede estar vacío.</div>
                           </div>


                           <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="gender">Género:</label>

                            <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="male">Hombre</label>

                            <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="female">Mujer</label>

                            <input type="radio" class="btn-check" name="gender" id="secret" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="secret">Otro</label>
                               <div class="valid-feedback mv-up">Has seleccionado un género.</div>
                                <div class="invalid-feedback mv-up">Por favor, seleccione un género.</div>
                            </div>

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label">Confirmo que todos los datos son correctos.</label>
                         <div class="invalid-feedback">Porfavor, confirma que todos los datos son correctos.</div>
                        </div>
                  
                        
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button id="submit" type="submit" class="btn btn-primary w-100" routerLink="/home" routerLinkActive="active">Acceder</button>
                            </div>

                            <div class="col-md-6">
                             <button id="submit" type="submit" class="btn btn-primary w-100" routerLink="/register" routerLinkActive="active">Crear cuenta</button>
                            </div>
                        </div>    

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>