<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pago</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    
 <!-- Checkout Page Start -->
 <div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Detalles de facturación</h1>
        <form action="#">
            <h2>
                Entrega
            </h2>
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Nombre<sup>*</sup></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Apellidos<sup>*</sup></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Dirección <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="Casa / Número / Calle">
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Código postal <sup>*</sup></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Ciudad <sup>*</sup></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Estado / País <sup>*</sup></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label class="form-label my-3">Teléfono  <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="Número de teléfono">
                    </div>
  
                    <div class="form-check my-3">
                        <input type="checkbox" class="form-check-input" id="Account-1" name="Accounts" value="Accounts">
                        <label class="form-check-label" for="Account-1">¿Crear una cuenta?</label>
                    </div>

                    <hr>

                    <h2>
                        Pago
                    </h2>

                    <div class="form-item">
                        <label class="form-label my-3">Número de tarjeta  <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="1234 1234 1234 1234">
                    </div>

                    <div class="row">
                        
                        <div class="col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Fecha de vencimiento <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="MM / AA">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Código de Seguridad <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="000">
                            </div>
                        </div>
                    </div>

                    <div class="form-item">
                        <label class="form-label my-3">Información extra <sup>*</sup></label>
                        <textarea name="text" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Opcional"></textarea>
                    </div>

                </div>

                
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Nº</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="assets/imagenes/salmon_pesto.webp" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">Nº 2665</td>
                                    <td class="py-5">Salmón al pesto</td>
                                    <td class="py-5">8,95€</td>
                                    <td class="py-5">1</td>
                                    <td class="py-5">8,95€</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="assets/imagenes/Carrillera_cerdo.webp" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">Nº 1397</td>
                                    <td class="py-5">Carrillera de cerdo</td>
                                    <td class="py-5">8,15€</td>
                                    <td class="py-5">1</td>
                                    <td class="py-5">8,15€</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="assets/imagenes/lentejas_chorizo.webp" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">Nº 4528</td>
                                    <td class="py-5">Lentejas con chorizo</td>
                                    <td class="py-5">5,95€</td>
                                    <td class="py-5">1</td>
                                    <td class="py-5">5,95€</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Subtotal</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">23.05€</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-4">Envío</p>
                                    </td>
                                    <td colspan="3" class="py-5">
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-1" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-1">Envío gratis</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-2" name="Shipping-1" value="Shipping" checked>
                                            <label class="form-check-label" for="Shipping-2">Tarifa fija: 3,00€</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-3">En tienda: 1,00€</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">26,05€</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <div class="form-check text-start my-3">
                                        <input type="checkbox" class="form-check-input bg-primary border-0" id="Transfer-1" name="Transfer" value="Transfer" checked>
                                        <label class="form-check-label" for="Transfer-1">Tarjeta De Crédito/Debito</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='' data-value="credit"><img src="https://i.imgur.com/28akQFX.jpg" width="250px" height="60px"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <div class="form-check text-start my-3">
                                        <input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal-1" name="Paypal" value="Paypal">
                                        <label class="form-check-label" for="Paypal-1">Paypal</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='radio' data-value="paypal"><img src="https://i.imgur.com/5QFsx7K.jpg" width="250px" height="60px"></div>
                                </div> 
                            </div>
                            
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Payments-1" name="Payments" value="Payments">
                                <label class="form-check-label" for="Payments-1">Transferencia Bancaria</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1" name="Delivery" value="Delivery">
                                <label class="form-check-label" for="Delivery-1">Contra Reembolso</label>
                            </div>
                        </div>
                    </div>


                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary" routerLink="/home" routerLinkActive="active">Realizar pedido</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->

</body>
</html>

<app-footer></app-footer>