

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"> 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 


<link href="/veats/src/bootstrap.min.css" rel="stylesheet">

<link href="/veats/src/styles.css" rel="stylesheet">

<link href="/veats/src/lightbox.min.css" rel="stylesheet">
<link href="/veats/src/owl.carousel.min.css" rel="stylesheet">


<nav class="container-fluid fixed-top">

    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="https://www.google.com/maps/place/C.+Pintor+Benedito,+Extramurs,+46007+Valencia/@39.4656646,-0.3832,19z/data=!3m1!4b1!4m6!3m5!1s0xd604f482356b311:0xdce7c92e6f248cf9!8m2!3d39.4656636!4d-0.3825563!16s%2Fg%2F11x99fmmf?entry=ttu" class="text-white">C. Pintor Benedito, Valencia</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="mailto:veats@gmail.com" class="text-white">veats&#64;gmail.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="text-white"><small class="text-white mx-2">Política de Privacidad</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">Términos de Uso</small>/</a>
                <a href="#" class="text-white"><small class="text-white ms-2">Reembolso</small></a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">VEATS</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="#" routerLink="/home" routerLinkActive="active" class="nav-item nav-link active">Inicio</a>
                    <a href="#" routerLink="/catalogo" routerLinkActive="active" class="nav-item nav-link">Catalogo</a>
                    <a href="#" routerLink="/contacto" routerLinkActive="active" class="nav-item nav-link">Contacto</a>
                    <a href="#" routerLink="/api" routerLinkActive="active" class="nav-item nav-link">RyM</a>
                </div>
                <div class="d-flex m-3 me-0">
                    <a href="#" class="position-relative me-4 my-auto" routerLink="/carrito" routerLinkActive="active">
                        <i class="fa fa-shopping-bag fa-2x"></i> 
                    </a>
                    <a href="#" class="my-auto" routerLink="/login" routerLinkActive="active">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</nav>
<router-outlet></router-outlet>